$clr-primary-100: hsl(0, 78%, 62%);
$clr-primary-200: hsl(180, 62%, 55%);
$clr-primary-300: hsl(34, 97%, 64%);
$clr-primary-400: hsl(212, 86%, 64%);

$clr-neutral-100: hsl(234, 12%, 34%);
$clr-neutral-200: hsl(229, 6%, 66%);
$clr-neutral-300: hsl(0, 0%, 98%);

$font-family: 'Poppins', sans-serif;


/* General Styling */

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $font-family;
}

main {
    background: $clr-neutral-300;
    height: 100vh;
    width: 100vw;
    min-width: 375px;
}

footer {
    position: absolute;
    bottom: 0;
    p {
        margin: 0;
        padding: 0;
    }
}

/* Title Styling */

.title {
    text-align: center;
    p {
        font-size: 1.125rem;
        color: $clr-neutral-200;
        width: 550px;
        margin: 1.25rem auto;
        font-weight: 400;
    }
}

h1 {
    color: $clr-neutral-200;
    font-weight: 200;
    font-size: 2.05rem;
    margin: 4rem 0 1.25rem;
}

h2 {
    color: $clr-neutral-100;
    font-size: 2rem;
    font-family: 600;
}

h3 {
    color: $clr-neutral-100;
    font-weight: 400;
}

.grid p {
    color: $clr-neutral-200;
    line-height: 1.5rem;
}

/* Main Grid Styling */

.grid {
    width: 80%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2rem;
}

.grid > * {
    border-radius: .5rem;
    background: white;
    padding: 0 2rem;
    height: 230px;
}

.card {
    position: relative;
    height: 75%;
}

.supervisor {
    grid-area: 1 / 1 / 3 / 2;
    border-top: 4px solid $clr-primary-200;
}

.calculator {
    grid-area: 1 / 3 / 3 / 4;
    border-top: 4px solid $clr-primary-400;
}

.team-builder {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 4px solid $clr-primary-100;
}

.karma {
    grid-area: 2 / 2 / 3 / 3;
    border-top: 4px solid $clr-primary-300;
}

img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Media Queries */
// Breakpoints: 900px, 600px

@media screen and (max-width: 900px) {
    .grid {
        grid: unset;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .grid > * {
        grid-area: unset;
    }
}

@media screen and (max-width: 600px) {
    body {position: relative;}

    main {
        height: 100%;
    }

    h1 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.6rem;
        margin-top: 0;
    }

    .title p {
        width: 330px;
        margin-top: 1rem;
    }
    .grid {
        grid: unset;
        margin: 1rem auto;
        gap: 1rem;
    }
    .grid > * {
        grid-area: unset;
        height: 200px;
    }
}